.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C2141;
    min-height: 100vh;
}

.special {
    color: #ED6D05;
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    width: 624px;
    min-height: 320px;
    background-color: #F8F8F8;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
    line-height: 22px;
}

.card__link {
    color: #E20613;
    text-decoration: none;
}

.card__header {
    font-weight: normal;
    font-size: 36px;
    margin: 0;
}

.card__job {
    margin: 0;
    color: #545454;
    font-style: italic;
}

.card__description {
    
}

.card__contact {

}

.card__image {
    margin-right: 32px;
}